In [1]:
import pandas as pd
import numpy as np

In [2]:
a = pd.Series([0, 1, 2, 4, 8, 9])
a

0    0
1    1
2    2
3    4
4    8
5    9
dtype: int64

In [3]:
b = pd.Series([0, 1, 2.0, 4, 8, 9])
b

0    0.0
1    1.0
2    2.0
3    4.0
4    8.0
5    9.0
dtype: float64

In [4]:
b.values

array([0., 1., 2., 4., 8., 9.])

In [5]:
b.index

RangeIndex(start=0, stop=6, step=1)

In [6]:
earth = pd.Series([1, 80, 8000000], index = ['mass', 'diameter', 'population'])

In [7]:
earth

mass                1
diameter           80
population    8000000
dtype: int64

In [8]:
earth['diameter']

80

In [9]:
earth.population

8000000

loc & iloc

In [10]:
d = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100], index=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [11]:
d

1      10
2      20
3      30
4      40
5      50
6      60
7      70
8      80
9      90
10    100
dtype: int64

In [12]:
d.loc[5]

50

In [14]:
d.iloc[60]

IndexError: single positional indexer is out-of-bounds

In [13]:
d.iloc[5]

60

In [15]:
d.iloc[-2]

90

In [16]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146], 
                 index=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [17]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [18]:
mass[2]

C:\Users\Rithik Raj\AppData\Local\Temp\ipykernel_20268\4142222553.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  mass[2]

5.97

In [20]:
mass.loc[2]

KeyError: 2

In [19]:
mass.iloc[5]

568.0

In [21]:
mass.loc[Earth]

NameError: name 'Earth' is not defined

In [22]:
mass.loc['Earth']

5.97

In [23]:
mass>500

Mercury    False
Venus      False
Earth      False
Mars       False
Jupiter     True
Saturn      True
Uranus     False
Neptune    False
Pluto      False
dtype: bool

In [24]:
mass[mass>500]

Jupiter    1898.0
Saturn      568.0
dtype: float64

In [27]:
mass[(mass<250) & (mass>1000)]

Series([], dtype: float64)

In [28]:
mass + 10

Mercury      10.3300
Venus        14.8700
Earth        15.9700
Mars         10.6420
Jupiter    1908.0000
Saturn      578.0000
Uranus       96.8000
Neptune     112.0000
Pluto        10.0146
dtype: float64

In [29]:
mass - 10

Mercury      -9.6700
Venus        -5.1300
Earth        -4.0300
Mars         -9.3580
Jupiter    1888.0000
Saturn      558.0000
Uranus       76.8000
Neptune      92.0000
Pluto        -9.9854
dtype: float64

In [30]:
mass * 2

Mercury       0.6600
Venus         9.7400
Earth        11.9400
Mars          1.2840
Jupiter    3796.0000
Saturn     1136.0000
Uranus      173.6000
Neptune     204.0000
Pluto         0.0292
dtype: float64

In [31]:
mass / 2

Mercury      0.1650
Venus        2.4350
Earth        2.9850
Mars         0.3210
Jupiter    949.0000
Saturn     284.0000
Uranus      43.4000
Neptune     51.0000
Pluto        0.0073
dtype: float64

In [32]:
np.min(mass)

0.0146

In [33]:
np.max(mass)

1898.0

In [34]:
np.mean(mass)

296.29184444444445

In [36]:
np.median(mass)

5.97

In [37]:
np.var(mass)

350325.15614650474

In [38]:
np.std(mass)

591.8827216151058

In [39]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146], 
                 index=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [40]:
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370], 
                     index=['Mercury', 'Venus', 'Earth', 'Moon', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [41]:
df = pd.DataFrame({'Mass': mass, 'Diameter': diameter})

In [42]:
df

              Mass  Diameter
Earth       5.9700     12756
Jupiter  1898.0000    142984
Mars        0.6420      6792
Mercury     0.3300      4879
Moon           NaN      3475
Neptune   102.0000     49528
Pluto       0.0146      2370
Saturn    568.0000    120536
Uranus     86.8000     51118
Venus       4.8700     12104

In [43]:
df['Mass']

Earth         5.9700
Jupiter    1898.0000
Mars          0.6420
Mercury       0.3300
Moon             NaN
Neptune     102.0000
Pluto         0.0146
Saturn      568.0000
Uranus       86.8000
Venus         4.8700
Name: Mass, dtype: float64

In [44]:
df['Diameter']

Earth       12756
Jupiter    142984
Mars         6792
Mercury      4879
Moon         3475
Neptune     49528
Pluto        2370
Saturn     120536
Uranus      51118
Venus       12104
Name: Diameter, dtype: int64

In [45]:
df['Mass']['Mars']

0.642

In [46]:
df.Mass.Mars

0.642